html,
body,
header,
.view {
  height: 100%;
  background-repeat:repeat;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.top-nav-collapse {
    background-color: #3f55d4 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
    margin-bottom: 15px;
  }

  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }

.card {
    background-color: rgba(126, 123, 215, 0.2);
    }