html,
body,
header,
.view {
  height: 100%;
  background-repeat:repeat;
}

body {
  background-image: url('https://images.unsplash.com/photo-1584362917165-526a968579e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1982&q=80.jpg');
  background-color: #CCCCCC;
  background-size: cover;
 }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.top-nav-collapse {
    background-color: #3f55d4 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
    margin-bottom: 15px;
  }

  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }

.card {
    background-color: rgba(126, 123, 215, 0.2);
    }

.container {
  margin: 15px;
  margin-bottom: 25px;
}

img {
  width: 100%;
  height: auto;
}

.style {
  background-image: url('https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

h5 {}