<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OP Outlaws</title>

  <!-- Our CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body> 

    <!-- Potential Background Image Maybe-->


        <!--Nav Bar Insertion w/ Drop-down Menu-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">OP Outlaws</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources Channel
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Graphs</a>
                    <a class="dropdown-item" href="#">Time Series Model</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Resources</a>
                  </div>
                </li>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Summary: America's Opioid Pandemic</h5>
                    <hr>
                    <p class="card-text">In our project, we are working on exploring the Opioid Crisis in the United States over a series of time (from 2006-2019).
                        Our research examines this correlation by examining rekationships between race/ethnicity, age, prescription drug & its risk to addiction. We hope
                        to create a model to help predict opiate use in the future based on some of these relationships. 
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>