<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>OP Outlaws</title>

  <!-- Our CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body> 

    <!-- Potential Background Image Maybe-->
    <div class="view" style="background-image: url('https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        <!--Nav Bar Insertion w/ Drop-down Menu-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="index.html">OP Outlaws</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources Channel
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="graphs.html">Graphs</a>
                    <a class="dropdown-item" href="time-series.html">Time Series Model</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="resources.html">Resources</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!--Mask & Flexbox Options-->
        <div class="mask rgba-gradient align-items-center">
          <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
              <div class="col-md-4">
                  <img src="https://pharmacyforme.org/wp-content/uploads/2018/09/Opioid-Crisis-in-America-848x548.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                  <h5 class="card-title">Summary: America's Opioid Pandemic</h5>
                  <hr>
                  <p class="card-text">In our project, we are working on exploring the Opioid Crisis in the United States over a series of time (from 2006-2019).
                      Our research examines this correlation by examining relationships between race/ethnicity, age, prescription drug & its risk to addiction. We hope
                      to create a model to help predict opiate use in the future based on some of these relationships. 
                  </p>
                  <p class="card-text"><small class="text-muted">Last updated on May 21st</small></p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>

      <div class="view" style="background-image: url('https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        <div class="mask rgba-gradient align-items-center">
          <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
              <div class="col-md-4">
                  <img src="https://cdn.vox-cdn.com/thumbor/gLihYMEdVDzEj7ojfngYO0CfOj4=/0x0:1920x1080/1820x1024/filters:focal(854x469:1160x775):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/61493731/LEAD.0.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                  <h5 class="card-title">Why a Time-Series Model?</h5>
                  <hr>
                  <p class="card-text">The reason we chose to run a time-series model was because it helps us answer some of the questions we first inquired. The 
                  time-series graphs shows relationships between changes (if any) in the number of Opioid drug-related deaths. 
                  </p>
                  <p class="card-text"><small class="text-muted">Last updated on May 24th</small></p>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
</div>

</body>
</html>
